.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a {
    background: #1a2035 !important;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), 4px 4px 15px -5px rgba(21, 114, 232, .4) !important
}



.btn-link.btn-primary:hover {
    color: #1a2035 !important;
}

.bg-primary-gradient {
    background: #1572e8 !important;
    background: -webkit-linear-gradient(legacy-direction(-45deg), #06418e, #1572e8) !important;
    background: linear-gradient(-45deg, #1a2035, #1f283e) !important
}

.btn-link.btn-primary:hover {
    color: #1a2035 !important;
}

.btn-primary:disabled,
.btn-primary:focus,
.btn-primary:hover {
    background: #ffffff !important;
    border-color: #1f283e !important;
}


.btn-primary {
    background: #1a2035 !important;
    border-color: #1a2035 !important
}

.card-pricing2.card-primary {
    border-bottom-color: #1a2035;
}

.card-pricing2.card-default {
    border-bottom-color: #1a2035
}

.card-pricing2.card-default .price-value:before,
.card-pricing2.card-default .value:before {
    border-left-color: #1a2035;
    border-top-color: #1a2035
}

.card-pricing2.card-default .price-value,
.card-pricing2.card-default .value {
    border-right-color: #1a2035
}

.card-pricing2.card-default .price-value:after,
.card-pricing2.card-default .value:after {
    border-right-color: #1a2035
}

.card-pricing2.card-default .price-value:after,
.card-pricing2.card-default .value:after {
    border-bottom-color: #1a2035;
}

.card-pricing2.card-default .value {
    color: #1a2035;
}

.card-pricing2.card-default:before {
    background: #1a2035;
}

.card-pricing2.card-default .price-value,
.card-pricing2.card-default .value {
    border-left-color: #1a2035;
}

.card-pricing2.card-primary {
    border-bottom-color: #1a2035;
}

.card-pricing2.card-primary .price-value:before,
.card-pricing2.card-primary .value:before {
    border-left-color: #1a2035;
    border-top-color: #1a2035;
}

.card-pricing2.card-primary .price-value,
.card-pricing2.card-primary .value {
    border-right-color: #1a2035;
}

.card-pricing2.card-primary .price-value:after,
.card-pricing2.card-primary .value:after {
    border-right-color: #1a2035;
}

.card-pricing2.card-primary .price-value:after,
.card-pricing2.card-primary .value:after {
    border-bottom-color: #1a2035;
}

.card-stats .icon-big.icon-primary {
    background: #1a2035 !important;
}

.card-pricing2.card-primary .value {
    color: #1a2035;
}

.card-pricing2.card-primary:before {
    background: #1a2035;
}

.card-pricing2.card-primary .price-value,
.card-pricing2.card-primary .value {
    border-left-color: #1a2035;
}